body {
    background-color: #FFFAF1;
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}
img {
    display: block;
    height: auto;
    margin: auto;
    width: 600px;
}
h1, h2 {
    font-size: 30px;
    text-align: center;
}
h1, h2, h3, a {
    color: saddlebrown;
}
h1, h2, h3 {
    font-family: Garamond, 'Times New Roman';
}
ul, li, p, a {
    font-family: Arial;
    font-size: 16px;
}
div {
    display: inline-block;
    vertical-align: top;
}